doctype 5
html
  head
    title= title
    include ../head
    link(rel='stylesheet', href='/stylesheets/signin.css')
  body
    .navbar
      .container
        .col-sm-2.navbar-header
          .navbar-brand
            img.img-responsive(src="/images/logo.png")
          button.navbar-toggle(data-toggle="collapse" data-target="#top-nav")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
    .main
      .container
        .row
          .col-sm-offset-6.col-sm-6
            div(style="max-width:350px; margin:0 auto;padding: 12% 0;")
              .panel.panel-default 
                .panel-heading
                  h3
                    |用户登录
                .panel-body
                  form(action="/signin" method="post")
                    .form-group
                      input.form-control(type="text" name="name" placeholder="用户名" autofocus)
                    .form-group
                      input.form-control(type="password" name="pass" placeholder="密码")
                    .form-group
                      label.checkbox
                        input(type="checkbox" name="rememberme" value="1") 
                        |自动登录
                      - if(locals.error)
                        .alert.alert-danger.alert-dismissable
                          button.close(type="button" data-dismiss="alert" aria-hidden="true")
                            &times;
                          strong #{error}  
                    button.btn.btn-lg.btn-success.btn-block(type="submit") 
                      |登录
    br                  
    include ../footer                   