doctype 5
html
  head
    title 后台管理系统
    include ../head
    block head
    style.
      body {padding-top: 70px;padding-bottom: 30px;}
      theme-dropdown .dropdown-menu {display: block;position: static;margin-bottom: 20px;}        
  body
    include navbar
    .container
      block content
      include footer
    block pjs  