.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#") 
        i.glyphicon.glyphicon-globe
        |后台管理系统
    .navbar-collapse.collapse   
      ul.nav.navbar-nav
        li.active
          a(href="/admin/index") 
            i.glyphicon.glyphicon-home   
            |首页
        li
          a(href="/admin/user/list") 
            i.glyphicon.glyphicon-user 
            |用户管理 
        li.dropdown 
          a.dropdown-toggle(href="#" data-toggle="dropdown")
            i.glyphicon.glyphicon-list-alt
            |文章管理
            b.caret
          ul.dropdown-menu
            li 
              a(href="/admin/art_cat/list") 分类管理 
            li 
              a(href="/admin/art/new") 内容发布
        li
          a(href="/admin/menu/list") 
            i.glyphicon.glyphicon-hand-right  
            |导航管理
        li
          a(href="/admin/ad/list") 
            i.fa.fa-picture-o 
            |广告管理    
      ul.nav.navbar-nav.navbar-right 
        li
          a 
            i.glyphicon.glyphicon-cog
            |#{current_user.name}
        li
          a(href="/signout") 
            i.glyphicon.glyphicon-log-out
            注销
        li
          a(href="/") 
            i.fa.fa-reply
            返回网站                     