.list-group
  a.list-group-item(href="/admin/user/new" class="#{isActive('/admin/user/new')}")
    |新建用户
  a.list-group-item(href="/admin/user/list" class="#{isActive('/admin/user/list')}") 
    |用户列表