.list-group
  a.list-group-item(href="/admin/brand/list" class="#{isActive('/admin/brand/list')}")
    |品牌管理
  a.list-group-item(href="/admin/goods/list" class="#{isActive('/admin/goods/list')}") 
    |产品管理
  a.list-group-item(href="/admin/goods/new" class="#{isActive('/admin/goods/new')}") 
    |快速发布产品  