link(rel='stylesheet', href='/stylesheets/jquery.fileupload.css')
script(type='text/javascript', src='/javascripts/jquery.ui.widget.js')
script(type='text/javascript', src='/javascripts/jquery.fileupload.js')