script(type='text/javascript', src='/javascripts/editor/kindeditor-min.js')
script(type='text/javascript', src='/javascripts/editor/kindeditor.extend.js')
script(type='text/javascript', src='/javascripts/editor/zh_CN.js')