doctype 5
html
  head
    title 华盛行
    include head
    script(type='text/javascript', src='/javascripts/xjoy.extend.js')
    block head
  body
    .container
      include navbar
      block content
      include footer
      block pjs
