-//h3.text-muted 华盛行
h3
  img.img-rounded(src="/images/logo.png" alt="华盛行")
.navbar.navbar-default
  .navbar-header
    button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
      span.icon-bar
      span.icon-bar
      span.icon-bar
  .navbar-collapse.collapse
    ul.nav.navbar-nav      
      li.active 
        a(href="/") 首页
      li
        a(href="#") LV 
      li
        a(href="#") Gucci 
      li
        a(href="#") Chanel 
