h3
  img.img-rounded(src="/images/logo.png" alt="华盛行")
.navbar.navbar-default
  .navbar-header
    button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
      span.icon-bar
      span.icon-bar
      span.icon-bar
  .navbar-collapse.collapse
    ul.nav.navbar-nav      
      li.active 
        a(href="/") 首页
      -each menu in top_menu 
        li
          a(href="#{menu.link}") #{menu.name}   
