extends ../layout

block content
  .panel.panel-default.clearfix
    .panel-heading 
      |特价商品
    .panel-body
      .row
        .col-sm-3
          .thumbnail
            img(data-src="holder.js/300x200")
            .caption
              h3 标题
        .col-sm-3
          .thumbnail
            img(data-src="holder.js/300x200")
            .caption
              h3 标题
        .col-sm-3
          .thumbnail
            img(data-src="holder.js/300x200")
            .caption
              h3 标题
        .col-sm-3
          .thumbnail
            img(data-src="holder.js/300x200")
            .caption
              h3 标题   