.list-group
  a.list-group-item(href="/admin/art_cat/list" class="#{isActive('/admin/art_cat/')}")
    |分类管理
  a.list-group-item(href="/admin/art/new" class="#{isActive('/admin/art/')} #{isActive('/admin/cat/')}") 
    |内容发布