html {width: 100%;height: 100%;background: #fff;}
.main{
  height: 480px;
  background-image: url(/images/banner-1.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat no-repeat;
}
body {
  padding-top: 10px;
}