.list-group
  a.list-group-item(href="/admin/menu/new" class="#{isActive('/admin/menu/new')}")
    |新建导航
  a.list-group-item(href="/admin/menu/list" class="#{isActive('/admin/menu/list')}") 
    |导航列表